header {
    background-color: #2c3e50;
}



#startSection {
    background-color: #1abc9c;
}

#aboutSection {
    background-color: #1abc9c;
}


#messageBox {
    min-height: 200px;
}

footer {
    background-color: #3a546d;
}

#copyrightSection {
    background-color: #2c3e50;
}